name: test

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - name: リポジトリのチェックアウト
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Goのセットアップ
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./go.mod
          cache: true

      - name: 依存関係のダウンロード
        run: go mod download

      - name: テスト実行
        run: | # CI環境では環境変数"ENV=ci"を設定
          if [ -n "$ACT" ]; then
            go test -race ./...
          else
            env ENV=ci go test -race ./...
          fi
